<section class="footer-conteudo">
    <div class="footer">
        <a href="https://www.facebook.com/marcosvinicius.ribeiro.988" id="facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="mailto:marcos.vinicius997@outlook.com" id="email"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/marcos-vinicius-ribeiro-15200719b/" id="linkedin"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/MarcosViniciusR" id="github"><i class="fa-brands fa-github"></i></a>
    </div><br>
    <div>
        <p>@All Rights Reserved 2023</p>
    </div>
</section>
