<div class="container main">
    <div class="form-primeiro-bloco">
        <div class="bloco-descricao">
            <h1>CONTATO</h1><br><br>
            <p>Possui alguma dúvida ou sugestão? Quer marcar uma entrevista?</p>
            <p>Preencha o formulário e dentro de 24 horas entrarei em contato.</p>
            <div class="image-form">
                <img src="./assets/imagens/emailicon.png" alt="email" style="max-width: 150px;
                height: 150px;">
            </div>
        </div>
    </div>


    <div class="form-segundo-bloco">
        <div class="bloco-form">
            <h1>Formulário</h1><br>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="input-single">
                <input type="text" name="nome" placeholder="Nome" [(ngModel)]="usuario.nome" required #nome="ngModel"><br>
            </div>
            <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger" role="alert">
                <p class="alerta">O campo nome é obrigatório!</p>
            </div>
            <div class="input-single">
                <input type="email" name="email" placeholder="Email" [(ngModel)]="usuario.email" required email #email="ngModel"><br>
            </div>
            <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
                <p class="alerta">O campo email é obrigatório!</p>
            </div>
            <div class="input-single">
                <input type="text" name="telefone" placeholder="Telefone" [(ngModel)]="usuario.telefone"><br>
            </div>
            <div class="container radio">
                <div class="radio-box">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Dúvida</label>
                </div>
                <div class="radio-box">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Sugestão</label>
                </div>
                <div class="radio-box">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Contratar</label>
                </div>
            </div>
            <div class="input-single">
                <input type="text" name="assunto" placeholder="Assunto" [(ngModel)]="usuario.assunto" required #assunto="ngModel"><br>
            </div>
            <div *ngIf="!assunto.valid && assunto.touched" class="alert alert-danger" role="alert">
                <p class="alerta">O campo assunto é obrigatório!</p>
            </div>
            
            <div class="text-descricao">
                <textarea name="descricao" id="descricao" cols="40" rows="1" placeholder="Descrição do assunto"></textarea>
            </div><br>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Enviar</button>
            
        </form>
        </div>

    </div>

</div>
