<section>
    <div class="container titulo-sobre">
        <h1><strong>Sobre</strong></h1>
        <br>
        <p>Estudante de análise e desenvolvimento de sistemas, técnico em mecatrônica e auxiliar administrativo, visando atuar na área de tecnologia como desenvolvedor de software frontend ou backend. <br>

            Através do curso de auxiliar administrativo, pude desenvolver habilidades de relacionamento interpessoal, comunicação e visão de mercado, buscando expressar com clareza e objetividade minhas ideias. <br>
            
            Como técnico em mecatrônica tive meus primeiros contatos com a tecnologia, gerando bom desenvolvimento de raciocínio lógico e resolução de problemas. <br>
            
            Atuando 5 anos no cargo de operador de máquinas em empresas multinacionais, tenho boa experiência com trabalho em equipe, trabalho sobre pressão, organização, disciplina e espirito de liderança. <br>
            
            Com o foco no sucesso em minha carreira profissional, busco me manter atualizado e em constante aprendizado, preparado para qualquer desafio e oportunidade. </p>

    </div>
    <div class="container titulo">
        <h1><strong>Formação</strong></h1>

    </div>
    <div class="container formacao">

        <div class="card text-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Curso <i class="fa-solid fa-graduation-cap"></i></div>
            <div class="card-body">
              <h5 class="card-title">Análise e Desenvolvimento de Sistemas</h5>
              <p class="card-text">Escola: UNINTER</p>
              <p class="card-text">Local: Lorena-SP</p>
              <p class="card-text">Término previsto: Janeiro 2024</p>
            </div>
        </div>

        <div class="card text-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Curso <i class="fa-solid fa-graduation-cap"></i></div>
            <div class="card-body">
              <h5 class="card-title">SpringBoot Expert</h5>
              <p class="card-text">Escola: Udemy</p>
              <p class="card-text">Local: Online</p>
              <p class="card-text">Término previsto: Janeiro 2024</p>
            </div>
        </div>

        <div class="card text-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Curso <i class="fa-solid fa-graduation-cap"></i></div>
            <div class="card-body">
              <h5 class="card-title">Inglês Avançado</h5>
              <p class="card-text">Escola: The House</p>
              <p class="card-text">Local: Lorena-SP</p>
              <p class="card-text">Término: Setembro 2021</p>
            </div>
        </div>

        <div class="collapse" id="collapseExample">
            <div class="container formacao">
                <div class="card text-white mb-3" style="max-width: 18rem;">
                    <div class="card-header">Curso <i class="fa-solid fa-graduation-cap"></i></div>
                    <div class="card-body">
                      <h5 class="card-title">Mecatrônica</h5>
                      <p class="card-text">Escola: Patrocinio</p>
                      <p class="card-text">Local: Lorena-SP</p>
                      <p class="card-text">Término: Dezembro 2014</p>
                    </div>
                </div>
                <div class="card text-white mb-3" style="max-width: 18rem;">
                    <div class="card-header">Curso <i class="fa-solid fa-graduation-cap"></i></div>
                    <div class="card-body">
                      <h5 class="card-title">Auxiliar Administrativo</h5>
                      <p class="card-text">Escola: SENAC</p>
                      <p class="card-text">Local: Guaratinguetá-SP</p>
                      <p class="card-text">Término: Setembro 2017</p>
                    </div>
                </div>

                <div class="card text-white mb-3" style="max-width: 18rem;">
                    <div class="card-header">Curso <i class="fa-solid fa-graduation-cap"></i></div>
                    <div class="card-body">
                      <h5 class="card-title">Informatica Básica (pacote Office e Hardware)</h5>
                      <p class="card-text">Escola: Office Trainning</p>
                      <p class="card-text">Local: Lorena-SP</p>
                      <p class="card-text">Término: Outubro 2008</p>
                    </div>
                </div>
            </div>

            </div>
            

    </div>
    <div class="container ver-mais">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="onClick()">
            {{botao}}
        </button>

    </div>

    <div class="container titulo">
        <h1><strong>Experiências</strong></h1>
    </div>

    <div class=" container experiencias">
        <p>Clique abaixo e confira meus projetos:</p>
        <a routerLink="/projeto" class="btn btn-primary">Ver projetos</a>
    </div>
</section>