<section>
    <div class="container titulo-sobre">
        <h1><strong>Sobre</strong></h1>
        <br>
        <p>Estudante de análise e desenvolvimento de sistemas, técnico em mecatrônica e auxiliar administrativo, visando atuar na área de tecnologia como desenvolvedor de software frontend ou backend. <br>

            Através do curso de auxiliar administrativo, pude desenvolver habilidades de relacionamento interpessoal, comunicação e visão de mercado, buscando expressar com clareza e objetividade minhas ideias. <br>
            
            Como técnico em mecatrônica tive meus primeiros contatos com a tecnologia, gerando bom desenvolvimento de raciocínio lógico e resolução de problemas. <br>
            
            Atuando 5 anos no cargo de operador de máquinas em empresas multinacionais, tenho boa experiência com trabalho em equipe, trabalho sobre pressão, organização, disciplina e espirito de liderança. <br>
            
            Com o foco no sucesso em minha carreira profissional, busco me manter atualizado e em constante aprendizado, preparado para qualquer desafio e oportunidade. </p>

    </div>
    <div class="container titulo">
        <h1><strong>Formação</strong></h1>

    </div>
    <div class="container formacao">

        <div class="card text-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Curso <i class="fa-solid fa-graduation-cap"></i></div>
            <div class="card-body">
              <h5 class="card-title">Análise e Desenvolvimento de Sistemas</h5>
              <p class="card-text">Escola: UNINTER</p>
              <p class="card-text">Local: Lorena-SP</p>
              <p class="card-text">Término previsto: Janeiro 2024</p>
            </div>
        </div>

        <div class="card text-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Curso <i class="fa-solid fa-graduation-cap"></i></div>
            <div class="card-body">
              <h5 class="card-title">SpringBoot Expert</h5>
              <p class="card-text">Escola: Udemy</p>
              <p class="card-text">Local: Online</p>
              <p class="card-text">Término previsto: Dezembro 2023</p>
            </div>
        </div>

        <div class="card text-white mb-3" style="max-width: 18rem;">
            <div class="card-header">Curso <i class="fa-solid fa-graduation-cap"></i></div>
            <div class="card-body">
              <h5 class="card-title">Inglês Avançado</h5>
              <p class="card-text">Escola: The House</p>
              <p class="card-text">Local: Lorena-SP</p>
              <p class="card-text">Término: Setembro 2021</p>
            </div>
        </div>

        <div class="collapse" id="collapseExample">
            <div class="container formacao">
                <div class="card text-white mb-3" style="max-width: 18rem;">
                    <div class="card-header">Curso <i class="fa-solid fa-graduation-cap"></i></div>
                    <div class="card-body">
                      <h5 class="card-title">Técnico Mecatrônica</h5>
                      <p class="card-text">Escola: Patrocínio Vesper</p>
                      <p class="card-text">Local: Lorena-SP</p>
                      <p class="card-text">Término: Dezembro 2014</p>
                    </div>
                </div>
                <div class="card text-white mb-3" style="max-width: 18rem;">
                    <div class="card-header">Curso <i class="fa-solid fa-graduation-cap"></i></div>
                    <div class="card-body">
                      <h5 class="card-title">Auxiliar Administrativo</h5>
                      <p class="card-text">Escola: SENAC</p>
                      <p class="card-text">Local: Guaratinguetá-SP</p>
                      <p class="card-text">Término: Setembro 2017</p>
                    </div>
                </div>

                <div class="card text-white mb-3" style="max-width: 18rem;">
                    <div class="card-header">Curso <i class="fa-solid fa-graduation-cap"></i></div>
                    <div class="card-body">
                      <h5 class="card-title">Informática Básica (pacote Office e Hardware)</h5>
                      <p class="card-text">Escola: Office Trainning</p>
                      <p class="card-text">Local: Lorena-SP</p>
                      <p class="card-text">Término: Outubro 2008</p>
                    </div>
                </div>
            </div>

            </div>
            

    </div>
    <div class="container ver-mais">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="onClick()">
            {{botao}}
        </button>

    </div>

    <div class="container titulo">
        <h1><strong>Experiências com tecnologias</strong></h1>
    </div>

    <div class="container experiencias">
        <p>Clique abaixo e confira meus projetos:</p>
        <a routerLink="/projeto" id="btn-projetos" class="btn btn-primary">Ver projetos</a>
    </div>

    <div class="container titulo" id="divisao">
        <h1><strong>Demais experiêcias </strong></h1>
    </div>
    <div class="container todas-exp">
        <p>Experiências exercidas e de suma importância para meu desenvolvimento pessoal e profissional durante minha carreira: </p>

        <div class="container exp">
            <div class="container exp-titulo">
                <p>Empresa: </p>
                <p>Eaton</p>
                <p>Período: </p>
                <p>04/2016 à 09/2017</p>
            </div>
            <div class="container exp-descricao">
                <p>Cargo: Aprendiz</p>
                <p>Auxiliar administrativo da engenharia de processos. Atuando com atualização de estoque e controle de materiais e ferramentas para a produção, além de atendimento a fornecedores e clientes.</p>
            </div>

        </div>

        <div class="container exp">
            <div class="container exp-titulo">
                <p>Empresa: </p>
                <p>Manserv</p>
                <p>Período: </p>
                <p>10/2017 à 01/2018</p>
            </div>
            <div class="container exp-descricao">
                <p>Cargo: Auxiliar de almoxarifado</p>
                <p>Responsável pela verificação de qualidade de peças e equipamentos, e também atuando em seus retrabalhos quando necessários.</p>
            </div>

        </div>

        <div class="container exp">
            <div class="container exp-titulo">
                <p>Empresa: </p>
                <p>Eaton</p>
                <p>Período: </p>
                <p>01/2018 à 01/2020</p>
            </div>
            <div class="container exp-descricao">
                <p>Cargo: Operador de máquinas</p>
                <p>Operador de máquina de solda, responsável pelo retrabalho e garantia de qualidade e precisão do diâmetro do molde da mangueira.</p>
            </div>

        </div>

        <div class="container exp">
            <div class="container exp-titulo">
                <p>Empresa: </p>
                <p>Yakult</p>
                <p>Período: </p>
                <p>09/2020 à 01/2023</p>
            </div>
            <div class="container exp-descricao">
                <p>Cargo: Operador de produção</p>
                <p>Primeira função: trabalho em espaço confinado garantindo limpeza e esterilização de tanques de fermentação de leite.</p>
                <p>Segunda função: Operador de máquina de esterilização do leite, acompanhando todo o processo de fermentação e inoculação do Lactobacillus.</p>
            </div>

        </div>
            

    </div>
</section>