<section>
    <div class="container projeto-titulo">
        <h1>Projetos</h1><br>

        <p>Alguns dos meus trabalhos:</p>

    </div>

    <div class="container projetos">
        <div class="primeiro-projeto">
            <img src="./assets/imagens/portfoliowebfig.png" alt="Portfolio Web">

        </div>

        <div class="descricao-projeto">
            <div class=" container titulo">
                <h1>Portfolio Web</h1>
                <p>Portfolio com intuito de apresentação profissional, contendo informações como conhecimentos em tecnologias, experiêcias, trabalhos desenvolvidos, histórico acadêmico e envio de formulário para contato.</p>

            </div>
            <div class="container descricao">
                <h2>Tecnologias utilizadas</h2>
                <div class="container tecno">
                    <p>HTML5 - CSS3 - TYPESCRIPT - ANGULAR - BOOTSTRAP - STATIC FORMS- GIT </p>

                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ver projeto completo
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="https://github.com/MarcosViniciusR?tab=repositories">Ir para o GitHub</a>
                      <a class="dropdown-item" href="#">Ir para o site do projeto</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container projetos">
        <div class="primeiro-projeto">
            <img src="./assets/imagens/ecomaps-projeto.png" alt="Projeto EcoMaps">

        </div>
        
        <div class="descricao-projeto">
            <div class=" container titulo">
                <h1>EcoMaps Lorena-SP</h1>
                <p>Aplicativo para encontrar os ecopontos da cidade de Lorena-SP. Desenvolvido através do framework Angular, utilizando componentes, diretivas, funções, e bibliotecas para geração do conteúdo. Utilizando linguagem TypeScript e biblioteca do Bootstrap, além de HTML e CSS para construção e organização do aplicativo e sua responsividade. </p>

            </div>
            <div class="container descricao">
                <h2>Tecnologias utilizadas</h2>
                <div class="container tecno">
                    <p>HTML5 - CSS3 - TYPESCRIPT - ANGULAR - BOOTSTRAP - GIT</p>

                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ver projeto completo
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="https://github.com/MarcosViniciusR?tab=repositories">Ir para o GitHub</a>
                      <a class="dropdown-item" href="#">Ir para o site do projeto</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container projetos">
        <div class="primeiro-projeto">
            <img src="./assets/imagens/takeyourumbrella.png" alt="Take Your Umbrella App">

        </div>
        <div class="descricao-projeto">
            <div class=" container titulo">
                <h1>Take Your Umbrella</h1>
                <p>Interface desenvolvida em Python com a biblioteca Tkinter, que consome uma API disponibilizada gratuitamente do Clima Tempo (site de previsões meteorológicas). Trás informações a respeito do tempo referente a cidade de Lorena, como probabilidade de chuva e uma breve descrição de como será o dia. </p>

            </div>
            <div class="container descricao">
                <h2>Tecnologias utilizadas</h2>
                <div class="container tecno">
                    <p>PYTHON - TKINTER - GIT</p>

                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ver projeto completo
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="https://github.com/MarcosViniciusR?tab=repositories">Ir para o GitHub</a>
                      <a class="dropdown-item" href="#">Ir para o site do projeto</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container projetos">
        <div class="primeiro-projeto">
            <img src="./assets/imagens/jogo-da-velha.png" alt="Jogo da velha em Java">

        </div>
        <div class="descricao-projeto">
            <div class=" container titulo">
                <h1>Jogo da Velha</h1>
                <p>Jogo da velha em linguagem Java e orientado a objetos. O jogo foi desenvolvido através de classes, interfaces, objetos, herança, polimorfismo, encapsulamento e métodos. Níveis de dificuldades também foram implatados possuindo lógicas diferentes, e definido a estratégia da máquina à cada jogada.</p>

            </div>
            <div class="container descricao">
                <h2>Tecnologias utilizadas</h2>
                <div class="container tecno">
                    <p>JAVA - GIT</p>

                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ver projeto completo
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="https://github.com/MarcosViniciusR?tab=repositories">Ir para o GitHub</a>
                      <a class="dropdown-item" href="#">Ir para o site do projeto</a>
                    </div>
                </div>
            </div>

        </div>

    </div>



</section>