<section>
    <div class="container projeto-titulo">
        <h1>Projetos</h1><br>

        <p>Alguns dos meus trabalhos:</p>

    </div>

    <div class="container projetos">
        <div class="primeiro-projeto">
            <img src="./assets/imagens/ecomaps-projeto.png" alt="Projeto EcoMaps">

        </div>
        <div class="descricao-projeto">
            <div class=" container titulo">
                <h1>EcoMaps Lorena-SP</h1>
                <p>Aplicativo para encontrar os ecopontos da cidade de Lorena-SP.</p>

            </div>
            <div class="descricao">
                <h2>Tecnologias utilizadas</h2>
                <p>HTML5 - CSS3 - TYPESCRIPT - ANGULAR</p>

                <button class="btn btn-primary">Ver projeto completo</button>
            </div>

        </div>

    </div>

    <div class="container projetos">
        <div class="primeiro-projeto">
            <img src="./assets/imagens/takeyourumbrella.png" alt="Take Your Umbrella App">

        </div>
        <div class="descricao-projeto">
            <div class=" container titulo">
                <h1>Nome do projeto</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ad qui cupiditate odit officiis voluptatem iste eveniet deserunt aut necessitatibus! Laborum, quae consequuntur fugiat sit quisquam porro exercitationem eligendi asperiores?</p>

            </div>
            <div class="descricao">
                <h2>Tecnologias utilizadas</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium veritatis sequi veniam officiis eius maiores quia id ad facere, quidem ipsa sapiente consequuntur assumenda ea? Dolorem quaerat consequuntur vero tempore.</p>

                <button class="btn btn-primary">Ver projeto completo</button>
            </div>

        </div>

    </div>

    <div class="container projetos">
        <div class="primeiro-projeto">
            <img src="./assets/imagens/embreve.png" alt="Projeto 1">

        </div>
        <div class="descricao-projeto">
            <div class=" container titulo">
                <h1>Nome do projeto</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ad qui cupiditate odit officiis voluptatem iste eveniet deserunt aut necessitatibus! Laborum, quae consequuntur fugiat sit quisquam porro exercitationem eligendi asperiores?</p>

            </div>
            <div class="descricao">
                <h2>Tecnologias utilizadas</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium veritatis sequi veniam officiis eius maiores quia id ad facere, quidem ipsa sapiente consequuntur assumenda ea? Dolorem quaerat consequuntur vero tempore.</p>

                <button class="btn btn-primary">Ver projeto completo</button>
            </div>

        </div>

    </div>


</section>